// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --black: #1e1e1e;
    --white: #f4f4f4;
    --primary: #ff5800;
    --secondary: #2d0901; 
    --tertier: #bd2401;
}

* {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body {
    z-index: 0;
    margin: 0;
    padding: 0;
    background: url('../images/FullBackground2.png');
    background-size: cover;
    color: var(--white);
}

h2 {
    font-family: Oswald, 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    text-align: justify;
}

.container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.br-1 {
    border-radius: 6px;
}

.mt-1 {
    margin-top: 20px;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.brand-name {
    font-family: Oswald, 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 4px;
    color: var(--white);
    padding: 0;
    margin: 15px 0 20px 0;
}

.navbar {
    padding-top: 28px;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item:not(.nav-item:nth-child(4)) {
    margin-right: 40px;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    position: relative;
    transition: color .5s ease-in-out;
}

.nav-link:hover {
    color: var(--primary);
}

.nav-link::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.contact-cta {
    padding: .5em 1.5em;
    color: var(--primary);
    border: 1px solid var(--primary);
    background: none;
    transition: background .5s ease-in, color .25s ease-in;
}

.contact-cta:before {
    display: none;
}

.contact-cta:hover {
    color: var(--white);
    background: var(--primary);
}

#jumbotron {
    width: 100%;
    height: 100vh;
    position: relative;
}

#jumbotron-highlight {
    width: fit-content;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#phoenix-logo {
    width: 100%;
    display: block;
    margin: auto;
}

#slogan {
    font-size: 3vw;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: var(--white);
    letter-spacing: 2px;
    transition: color .5s ease-in;
}

#slogan:hover {
    color: var(--tertier);
}

.btn-link {
    text-decoration: none;
    display: block;
    width: fit-content;
}

.btn-primary {
    color: var(--white);
    background: var(--primary);
    padding: 1em 4em;
    border-radius: 8px;
    border: 2px solid var(--primary);
    transition: color .5s ease-in-out, background .5s ease-in-out;
    box-shadow: 4px 4px 12px rgba(29, 5, 0, 0.877);
}

.btn-primary:hover {
    background: none;
    color: var(--primary);
}

#about-preview {
    height: 100vh;
    position: relative;

    .preview-content {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
    }

    .preview-highlight {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .desc-and-link {
        width: 50%;
    }
}

#project-preview {
    height: 200vh;
}

#contact-us {
    height: 100vh;
}
